<!DOCTYPE html>
	<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
	<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Krypton Block Explorer</title>
		<meta name="description" content="Block explorer for Krypton KR">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="views/layouts/bootstrap.min.css">
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<span class="icon-bar"></span><a href="./" class="navbar-brand">Krypton Block Explorer</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<form action="" name="search_form" class="navbar-form navbar-right" id="searchForm">
							<div class="form-group">
								<input type="text" size="64" placeholder="Tx Hash, Address or Block number" name="searchFor" required class="form-control">
							</div>
							<button type="submit" class="btn btn-success">Search</button>
						</form>
					</ul>
				</div>
			</div>
		</nav>

		<?=$this->data['layout_content']?>

		<footer>
			<hr>
			<p style="text-align:center">
				© Krypton 2016
			</p>
		</footer>

		<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	</body>
</html>