<div class="container" style="padding-top: 50px;">
	<h1>Latest Blocks</h1>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Number</th>
					<th>Time</th>
					<th>Transactions</th>
					<th>Gas used</th>
					<th>Miner</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach($this->data['blocks'] as $block): ?>
					<tr>
						<td>
							<a href="?page=block&block=<?=$block['number']?>">
								<?=hexdec($block['number'])?>
							</a>
						</td>
						<td>
							<?=date('Y-m-d H:i:s',$block['timestamp'])?> UTC
						</td>
						<td><?=count($block['transactions'])?></td>
						<td><?=hexdec($block['gasUsed'])?></td>
						<td>
							<a href="?page=address&address=<?=$block['miner']?>">
								<?=$block['miner']?>
							</a>
						</td>
					</tr>
				<?php endforeach; ?>
			</tbody>
		</table>
	</div>

	<p>
		<h2>Network Hashrate</h2>
		<?=number_format($this->data['hashrate'],0)?> H/s
	</p>
</div>