<div class="container" style="padding-top: 50px;">

    <h1>Transaction
        <small>View information about a Krypton transaction</small>
    </h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th colspan="3" align="left"><a class="hash-link" href="?page=transaction&tx=<?=$this->data['tx']['hash']?>"><?=$this->data['tx']['hash']?></a> <span class="pull-right"></span></th>
            </tr>
            <tr>
                <td width="500px" class="">
                    <a href="?page=address&address=<?=$this->data['tx']['from']?>"><?=$this->data['tx']['from']?></a>
                    <br>
                </td>
                <td width="48px" class="" style="padding:4px;text-align:center;vertical-align:middle;">
                    <img src="https://blockchain.info/Resources/arrow_right_green.png">  <!--TODO upload the image on the server-->
                </td>
                <td class="">
                    <a href="?page=address&address=<?=$this->data['tx']['to']?>"><?=$this->data['tx']['to']?></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="padding-bottom:30px;width:100%;text-align:right;clear:both">   <!--TODO no style tags...-->
        <button class="btn btn-primary"><?=$this->data['tx']['conf']?> Confirmations</button>
        <button class="btn btn-success cb"><span><?=number_format($this->data['tx']['ethValue'],8)?> KR</span></button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody><tr>
                <th colspan="2" style="text-align:left">Summary</th>
            </tr>
            <tr>
                <td>Block Hash</td>
                <td><a href="?page=block&block=<?=$this->data['tx']['blockHash']?>"><?=$this->data['tx']['blockHash']?></a></td>
            </tr>
            <tr>
                <td>Received Time</td>
                <td>
                    <?=date('Y-m-d H:i:s',$this->data['tx']['time'])?>
                </td>
            </tr>
            <tr>
                <td>Included In Block</td>
                <td>
                    <a href="?page=block&block=<?=$this->data['tx']['blockNumber']?>"><?=$this->data['tx']['blockNumber']?></a>
                </td>
            </tr>
            <tr>
                <td>Gas Used</td>
                <td><?=$this->data['tx']['gas']?></td>
            </tr>
            <tr>
                <td>Gas Price</td>
                <td><?=number_format($this->data['tx']['gasPrice'],0)?> WEI</td>
            </tr>
            <tr>
                <td>Number of transactions made by the sender prior to this one</td>
                <td><?=$this->data['tx']['nonce']?></td>
            </tr>
            <tr>
                <td>Transaction price</td>
                <td><?=number_format($this->data['tx']['txprice'],9)?> KR</td>
            </tr>
            <tr>
                <td>Data</td>
                <td><?=$this->data['tx']['input']?></td>
            </tr>


            </tbody>
        </table>
    </div>

</div>
