Krypton explorer API functions:<br />
<br />
api.php?searchFor=x<br />
api.php?page=supply<br />
api.php?page=address&address=x<br />
api.php?page=block&block=x<br />
api.php?page=transaction&transaction=x<br />
api.php?page=hashrate<br />
api.php?page=blockcount<br />
api.php?page=difficulty<br />